.reply-form {
  display: flex;
  .reply-message {
    flex-grow: 1;
    resize: vertical;
  }
  .send-reply {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    min-width: 50px;
  }
}
