.invite-member-form {
  padding: 30px 100px;
  text-align: left;
  width: 100%;
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  .content {
    width: 100%;
    .permission-table {
      width: 100%;
      .predifined-permission {
        margin-right: 10px;
      }
    }
  }
}
