.clarification-detail {
  .info {
    display: flex;
    justify-content: space-between;
  }
  .content {
    .entry {
      margin-top: 10px;
      display: flex;
      align-items: baseline;
      .unread-indicator {
        visibility: hidden;
      }
      .content {
        margin-left: 10px;
      }
    }
    .entry.unread {
      .unread-indicator {
        visibility: visible;
      }
    }
  }
}
