@import '~@blueprintjs/core/lib/scss/variables.scss';

.contest-panel {
  .contest-content {
    .contest-announcements {
      padding: 30px 100px;
      text-align: left;
      width: 100%;
      .header {
        text-align: center;
        margin-bottom: 30px;
      }
      .item {
        margin-top: 10px;
        align-items: baseline;
        display: flex;
        .unread-indicator {
          flex-grow: 0;
          visibility: hidden;
        }
        .content {
          margin-left: 10px;
          flex-grow: 1;
          .header {
            display: flex;
            margin-bottom: 0px;
            justify-content: space-between;
            .title {
              text-align: left;
            }
            .info {
              text-align: right;
            }
          }
        }
      }
      .item.unread {
        .unread-indicator {
          visibility: visible;
        }
      }
    }
  }
}
