.my-account-page-panel {
  text-align: center;
  width: 600px;
  text-align: center;
  .my-account-page-content {
    text-align: left;
    margin-top: 50px;
    .right {
      text-align: right;
    }
  }
}
