.contest-members {
  padding: 30px 100px;
  text-align: left;
  width: 100%;
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  .content {
    width: 100%;
    .actions {
      text-align: right;
    }
    .users-table {
      margin-top: 10px;
      width: 100%;
    }
  }
}
