.signup-panel {
  min-width: 400px;
  max-width: 400px; }
  .signup-panel .remember-me {
    display: flex;
    justify-content: space-between; }
  .signup-panel .bottom-action {
    display: flex;
    justify-content: center;
    margin-top: 10px; }
