@import '~@blueprintjs/core/lib/scss/variables.scss';

.offline-indicator {
  text-align: center;
  padding: 10px;
  background-color: $pt-text-color-muted;
  color: $pt-dark-text-color;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  &.on {
    opacity: 1;
    visibility: visible;
    position: static;
  }
}
