.login-page {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.login-panel {
    width: 400px;
}

.login-panel .remember-me {
    display: flex;
    justify-content: space-between;
}