.enter-contest {
  width: 100%; }
  .enter-contest .content {
    width: 400px;
    margin: 20px auto; }
    .enter-contest .content .enter-contest-children {
      display: flex;
      width: 100%;
      justify-content: center; }
      .enter-contest .content .enter-contest-children .overlay-enter {
        opacity: 0.01; }
      .enter-contest .content .enter-contest-children .overlay-enter-active {
        opacity: 1;
        transition: opacity 300ms ease-in; }
      .enter-contest .content .enter-contest-children .overlay-exit {
        opacity: 1;
        position: absolute; }
      .enter-contest .content .enter-contest-children .overlay-exit-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in; }
