@import '~@blueprintjs/core/lib/scss/variables.scss';

.contest-panel {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  .contest-outer-content {
    width: 100%;
    .contest-content {
      position: relative;
    }
  }
}
