.enter-password-panel {
  min-width: 400px;
  max-width: 400px;
  .remember-me {
    display: flex;
    justify-content: space-between;
  }
  .bottom-action {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
