.bottom-link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

.bottom-link > span {
  padding: 0 15px; }

.bottom-link > span:not(:last-child) {
  border-right: solid 1px; }
