@import '~@blueprintjs/core/lib/scss/variables.scss';

.contest-panel {
  .contest-content {
    .contest-submissions {
      padding: 30px 100px;
      text-align: center;
      width: 100%;
      .submissions-table {
        margin-top: 20px;
        border-top: solid 1px $pt-divider-black;
        width: 100%;
        th,
        td {
          text-align: center;
        }
      }
    }
  }
}
