.contests-panel {
  .contest-content {
    .contest-clarifications {
      padding: 30px 100px;
      text-align: left;
      width: 100%;
      .header {
        text-align: center;
        margin-bottom: 30px;
      }
      .item {
        margin-top: 10px;
        .header {
          display: flex;
          margin-bottom: 0px;
          justify-content: space-between;
          .subject {
            text-align: left;
            flex: 1 1 0;
          }
          .title {
            text-align: center;
            flex: 1 1 0;
          }
          .info {
            text-align: right;
            flex: 1 1 0;
            .info-container {
              display: flex;
              text-align: right;
              justify-content: flex-end;
              align-items: center;
              .unread {
                padding-left: 10px;
                margin-left: 10px;
                border-left: solid 1px #505050;
                text-align: right;
              }
              .time {
                text-align: right;
              }
            }
          }
        }
      }
      .clarification-form-panel {
        margin-top: 30px;
        .clarification-form {
          .head {
            display: flex;
            width: 100%;
            .group-subject {
              margin-right: 10px;
            }
            .group-title {
              flex-grow: 1;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
