.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}