html, body, #root, .eat-them-all {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vh;
}

.main-page {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100%;
}
  
.plain-page {
    @extend .main-page;
    padding-top: 30px;
}

.full-page {
    @extend .main-page;
    padding: 0;
    margin: 0;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}