.enter-password-panel {
  min-width: 400px;
  max-width: 400px; }
  .enter-password-panel .remember-me {
    display: flex;
    justify-content: space-between; }
  .enter-password-panel .forgot-password-button {
    margin-top: 10px; }
  .enter-password-panel .bottom-action {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 0; }
