.member-detail {
  .content {
    width: 100%;
    .account-table,
    .profile-table {
      width: 100%;
      .col-key {
        width: 200px;
      }
    }
    .content-account,
    .content-profiles,
    .content-permission {
      margin-top: 10px;
    }
  }
}
