@import '~@blueprintjs/core/lib/scss/variables.scss';

.contest-panel {
  .contest-content {
    .contest-scoreboard {
      padding: 30px 40px;
      text-align: center;
      width: 100%;
      .scoreboard-table {
        margin-top: 20px;
        border-top: solid 1px $pt-divider-black;
        width: 100%;
        th,
        td {
          text-align: center;
          vertical-align: middle;
        }
        .rank {
          max-width: 10px;
        }
        .score {
          min-width: 40px;
          max-width: 40px;
          .attempt {
            font-weight: bold;
          }
        }
        .problem-column {
          min-width: 20px;
          max-width: 20px;
          .attempt {
            font-weight: bold;
          }
          .penalty {
            font-size: 10pt;
          }
          &.passed {
            background-color: $green4;
            color: black;
          }
          &.failed {
            background-color: $red2;
            color: white;
          }
          &.first-passed {
            background-color: $green1;
            color: white;
          }
          &.frozed {
            background-color: $orange4;
            color: black;
          }
        }
      }
    }
  }
}
