.announcement-form {
  margin-bottom: 30px;
  .card {
    padding-top: 5px;
    padding-bottom: 5px;
    .head {
      display: flex;
      width: 100%;
      .group-title {
        flex-grow: 1;
        margin-right: 10px;
      }
    }
  }
}
